<div>
  <h1>hola, soy {{person.name}} y tengo {{person.age}}</h1>
  <!--string interpolation for strings or content -->
  <img [src]="person.icon" alt="image"/>

  <div>
    <h1>propiedades</h1>
    <button [disabled]="btnDisabled"> enviar</button>
    <input type="text" [value]="name" (keyup)="changeName($event)"/>
    <progress max="100"[value]="person.age"></progress>
  </div>
  <!-- propoety biding(for numbers or another things) -->
  <br/>
  <div>
    <button (click)="toggleBtn()">{{btnName}}</button>
    <button (click)="aumentBTN()">+</button>
    <button (click)="decreaseBTN()">-</button>
  </div>
  <!-- event biding -->
  <div class="box" (scroll)="onScroll($event)">
    <p class="lol">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem quia dolor officiis vitae. Quis nihil tempora, officia accusamus dignissimos sapiente iusto dolor ipsum necessitatibus soluta debitis recusandae modi nulla aliquam?</p>
  </div>
  <!-- look scroll -->
  <input type="text"required #nameInput="ngModel"[(ngModel)]="person.name"/>
  <p>valid: {{nameInput.valid}}</p>
  <input type="number" max="18" min="10" #ageInput="ngModel"[(ngModel)]="person.age"/>
  <p>valid: {{ageInput.valid}}</p>
  <!-- data binding ngModel [( ngmodel )]-->
  <input type="text"required #nameInput2="ngModel"[(ngModel)]="person.name"/>
  <p *ngIf="person.name==='lean';else elseblock">es el leandron</p>
  <ng-template #elseblock>
    <p>bloque else</p>
  </ng-template>
  <!-- *ngIf -->
  <input type="text" required [(ngModel)]="nametopush">
  <button (click)="pushName()">add Name</button>
  <p *ngIf="names.length == 0">no hay nada pa</p>
  <ul>
    <li *ngFor="let item of names;index as i">
      {{i}}:{{item}}
      <button (click)="popName(i)">delete Name</button>
    </li>
  </ul>
  <!-- *ngfor -->
  <div class="product-container">
    <div class="product-component" *ngFor="let product of products">
      <h1>{{product.name}}</h1>
      <img class="product-img" [src]="product.img" alt="prodcutimg" />
      <h2>${{product.price}}</h2>
    </div>
  </div>
  <!-- *ngSwitch -->
  <div [ngSwitch]="person.name">
    <p *ngSwitchCase="'lean'">es el leandron</p>
    <p *ngSwitchCase="'nico'">es el nicolon</p>
    <p *ngSwitchCase="'nacho'">es el trolazo</p>
    <p *ngSwitchDefault>no hay match tio</p>
  </div>

  <input type="text"required #nameInput3="ngModel"[(ngModel)]="person.name"/>
  <p class="message-error" [class.active]="nameInput3.invalid">este campo es requerido</p>

  <input type="text"required #nameInput4="ngModel"[(ngModel)]="person.name"/>
  <p [style.font-style]="nameInput4.invalid?'italic':'normal'">ola seoaaaa</p>


    <form (ngSubmit)="onRegister()" #myform="ngForm">
      <div class="input-group">
        <div>
          <label>name</label>
          <input name="Name" required type="text" id="name" [(ngModel)]="register.name">
        </div>
        <div>
          <label>password</label>
          <input name="Pass" required type="text" id="email" [(ngModel)]="register.email">
        </div>
        <div>
          <label>email</label>
          <input name="Email" required type="text" id="password" [(ngModel)]="register.password">
        </div>
      </div>
      <button [disabled]="myform.invalid" type="submit">Register</button>
    </form>

</div>

